[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
email-validator = "*"
flask-bcrypt = "*"
flask-login = "*"
python-dateutil = "*"
pillow = "*"
pymupdf = "*"
gunicorn = "*"
notebook = "*"
oauthlib = "*"
requests = "*"
pandas = "*"
psycopg2 = "*"
matplotlib = "*"
seaborn = "*"
redis = "*"
celery = {extras = ["redis"], version = "*"}
rq = "*"
rq-win = {git = "https://github.com/michaelbrooks/rq-win.git"}

[dev-packages]

[requires]
python_version = "3.9"
