{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" id="batch-move-form">
            {{ form.hidden_tag() }}
            {% if choose_contents %}
                <!-- Include asset_path as a hidden field to retain its value -->
                <input type="hidden" name="{{ form.asset_path.name }}" value="{{ form.asset_path.data }}">
            {% endif %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Batch Move</legend>
                {% if not choose_contents %}
                    <p>This form is for moving selected contents of a directory into another directory.</p>
                    <div class="form-group">
                        <h5>{{ form.asset_path.label(class="form-control-label") }}</h5>
                        <p>Enter the path to the directory whose contents you want to move.</p>
                        {% if form.asset_path.errors %}
                            {{ form.asset_path(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.asset_path.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.asset_path(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% else %}
                    <p>Select the contents you want to move from the directory <strong>{{ form.asset_path.data }}</strong>.</p>
                    {% if form.contents_to_move.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.contents_to_move.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {% for choice in form.contents_to_move %}
                            <div class="form-check">
                                {{ choice(class="form-check-input") }}
                                {{ choice.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <h5>{{ form.destination_path.label(class="form-control-label") }}</h5>
                        <p>Enter the destination directory where the contents will be moved.</p>
                        {% if form.destination_path.errors %}
                            {{ form.destination_path(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.destination_path.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.destination_path(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
            </fieldset>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-info"
                       id="execute-button"
                       value="{% if not choose_contents %}Select{% else %}Submit{% endif %}"
                       data-executing-text="{% if not choose_contents %}Retrieving Contents...{% else %}Executing...{% endif %}">
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('batch-move-form');
            if (form) {
                form.addEventListener('submit', function(event) {
                    var button = document.getElementById('execute-button');
                    if (button) {
                        var executingText = button.getAttribute('data-executing-text');
                        button.value = executingText;  // Change button text
                        // Disable button to prevent double submission
                        setTimeout(() => button.disabled = true, 10);
                    }
                    // Delay form submission to allow button text change
                    event.preventDefault();
                    setTimeout(() => HTMLFormElement.prototype.submit.call(form), 500);
                });
            }
        });
    </script>
{% endblock content %}