{% set hide_sidebar = True %}
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2>Projects associated with CAAN {{ caan }}, {{ caan_name }}</h2>
        <div>
            <p>
                This page lists projects and their respective locations on the archives server.<br>
                The project data is pulled from the FileMaker database; therefore, its accuracy depends on the data stored there.<br>
                The locations shown are paths to project directories on the archives server and, given the current organization of those files and folders, represent the closest likely location of the project drawing files.<br>
                Copy and paste a location into a web or file browser address bar.
            </p>
        </div>
            
        <div>
            <!-- If there is a result table, display it here. -->
            {% if drawings_confirmed_table %}
                <h4>Projects that have drawings</h4>
                <p>Projects confirmed to have drawings (per FileMaker entry).</p>
                {{ drawings_confirmed_table | safe }}
            {% endif %}
            {% if drawings_maybe_table %}
                <hr>
                <h4>Projects that might have drawings</h4>
                <p>Projects where the "drawings" attribute is blank in FileMaker.</p>
                {{ drawings_maybe_table | safe }}
            {% endif %}
        </div>
    </div>
{% endblock content %}