{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" id="dir-contents-summary-form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Directory Contents Summary</legend>
                <p>Enter a directory path as copied from Windows File Explorer.</p>
                <div class="form-group">
                    <h6>{{ form.path.label(class="form-control-label") }}</h6>
                    {% if form.path.errors %}
                        {{ form.path(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.path.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.path(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
