{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <p>This tool searches for filenames that contain the given search term. A spreadsheet will be available for refining large search results.</p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    <h6>{{ form.search_location.label(class="form-control-label") }}</h6>
                    <p>(Case sensitive. Copy this from Windows File Explorer address bar.)</p>
                    {% if form.search_location.errors %}
                        {{ form.search_location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search_location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search_location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                     <h6>{{ form.search_term.label(class="form-control-label") }}</h6>
                    <p>(Not case sensitive.)</p>
                    {% if form.search_term.errors %}
                        {{ form.search_term(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search_term.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search_term(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}