{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" id="search-form-main">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Filename Search</legend>
                <p>This tool searches through filepaths. The results can be filtered to only those from the search location. A spreadsheet will be available for refining large search results.</p>
                <div class="form-group">
                   <p>(Not case sensitive.)</p>
                   {% if form.search_term.errors %}
                       {{ form.search_term(class="form-control form-control-lg is-invalid") }}
                       <div class="invalid-feedback">
                           {% for error in form.search_term.errors %}
                               <span>{{ error }}</span>
                           {% endfor %}
                       </div>
                   {% else %}
                       {{ form.search_term(class="form-control form-control-lg") }}
                   {% endif %}
               </div>
               <div class="form-group">
               <p>Toggle whether results include directory name matches or only matches to filenames:</p>
               {% if form.filename_only.errors %}
                   <div class="custom-control custom-checkbox">
                       {{ form.filename_only(class="custom-control-input is-invalid") }}
                       {{ form.filename_only.label(class="custom-control-label") }}
                       <div class="invalid-feedback">
                           {% for error in form.filename_only.errors %}
                               <span>{{ error }}</span>
                           {% endfor %}
                       </div>
                   </div>
               {% else %}
                   <div class="custom-control custom-checkbox">
                       {{ form.filename_only(class="custom-control-input") }}
                       {{ form.filename_only.label(class="custom-control-label") }}
                   </div>
               {% endif %}
                </div>
            </br>
                <div class="form-group">
                    <h6>{{ form.search_location.label(class="form-control-label") }}</h6>
                    <p>(Case sensitive. Copy this from Windows File Explorer address bar.)</p>
                    {% if form.search_location.errors %}
                        {{ form.search_location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search_location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>  
                    {% else %}
                        {{ form.search_location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", id="search-button") }}
            </div>
        </form>
    </div>
<style>

.ac-label {
    font-weight: 700;
    position: relative;
    padding: 0.5em 1em;
    margin-bottom: .5em;
    display: block;
    cursor: pointer;
    background-color: whiteSmoke;
    color: #003c6c;
    border: 1px solid whiteSmoke;
    transition: background-color .15s ease-in-out;
}

.ac-input:checked+label,
.ac-label:hover {
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.08);
}

.ac-label:after,
.ac-input:checked+.ac-label:after {
    content: "+";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    line-height: 2.25em;
    text-align: center;
    background-color: #e5e5e5;
    transition: background-color .15s ease-in-out;
}

.ac-label:hover:after,
.ac-input:checked+.ac-label:after {
    background-color: #b5b5b5;
}

.ac-input:checked+.ac-label:after {
    content: "-";
}

.ac-input {
    display: none;
}

.ac-text,
.ac-sub-text {
    opacity: 0;
    height: 0;
    margin-bottom: .5em;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

.ac-input:checked~.ac-text,
.ac-sub .ac-input:checked~.ac-sub-text {
    opacity: 1;
    height: auto;
}

.ac-sub .ac-label {
    background: none;
    font-weight: 600;
    padding: .5em 2em;
    margin-bottom: 0;
}

.ac-sub .ac-label:checked {
    background: none;
    border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after,
.ac-sub .ac-input:checked+.ac-label:after {
    left: 0;
    background: none;
}

.ac-sub .ac-input:checked+label,
.ac-sub .ac-label:hover {
    background: none;
}

.ac-sub-text {
    padding: 0 1em 0 2em;
}
    </style>
<div class="ac">
    <input class="ac-input" id="ac-search" name="ac-search" type="checkbox" />
    <label class="ac-label" for="ac-search">Search Documentation</label>
    <article class="ac-text">
        <h4>Basic Usage</h4>
        <p><strong>Simple Terms:</strong> Input keywords to search for. <code>websearch_to_tsquery</code> will treat these keywords combined with an AND operator by default.</p>
        <div class="example">
            <p>Example: Typing <code>apple banana</code> results in a search for <code>apple &amp; banana</code>.</p>
        </div>
        <h4>Search Operators</h4>
        <ul>
            <li><strong>Quotation Marks for Phrase Search:</strong> Put words in quotation marks " " to search for the exact phrase.
                <div class="example">
                    <p>Example: <code>"climate change"</code> will return results containing exactly "climate change".</p>
                </div>
            </li>
            <li><strong>OR Operator:</strong> Use the word OR to include any of the specified terms.
                <div class="example">
                    <p>Example: <code>apple OR banana</code> will find documents with either "apple" or "banana".</p>
                </div>
            </li>
            <li><strong>Exclusion:</strong> Prefix a word with <code>-</code> to exclude documents containing that word.
                <div class="example">
                    <p>Example: <code>apple -banana</code> searches for documents with "apple" and without "banana".</p>
                </div>
            </li>
        </ul>
        <h4>Advanced Tips</h4>
        <p>Combine these operators to create complex search queries.</p>
        <div class="example">
            <p>Example: <code>"global warming" OR "climate change" -ice</code> searches for documents containing "global warming" or "climate change" but not "ice".</p>
        </div>
    </article>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var search_form = document.getElementById('search-form-main');
        if (search_form) {
            search_form.addEventListener('submit', function(event) {
                var button = document.getElementById('search-button');
                if (button) {
                    console.log("Button found");
                    button.value = 'Searching...';  // Change button text
                    // Disable button to prevent double submission
                    setTimeout(() => button.disabled = true, 10);
                } else {
                    console.log("Button not found");
                }
                // Delay form submission to allow button text change
                event.preventDefault();
                setTimeout(() => HTMLFormElement.prototype.submit.call(search_form), 500);
            });
        } else {
            console.log("Form not found");
        }
    });
</script>

    
{% endblock content %}