{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Time Keeper</legend>
                {% if not clocked_in %}
                    <div class="form-group">
                        <p>Click to clock in.</p>
                        {{ form.clock_in(class="btn btn-outline-info") }}
                    </div>
                {% else %}
                   <div class="form-group">
                    {{ form.journal.label(class="form-control-label") }}
                       <p>Use the journal to briefly record what was worked on in a succinct few sentences. Though it is brief, details like project number, print requester, etc are useful. This is also a good place to record why there would be any discrepancies between hours logged here and the hours claimed on CruzPay timesheet.</p>
                    {% if form.journal.errors %}
                        {{ form.journal(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.journal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.journal(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.clock_out(class="btn btn-outline-info") }}
                    </div>
                    <div class="form-group">
                        {{ form.clock_out_log_out(class="btn btn-outline-info") }}
                    </div>
                {% endif %}
        </form>
    <div>
        <a href={{url_for('timekeeper.user_timesheet', employee_id=id)}}>View your timesheet here.</a>
    </div>
    </div>
{% endblock content %}