{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <h2>Timesheet</h2>
        <p>
            Days that say "TIME ENTRY INCOMPLETE" are days where a clock-in or clock-out event are missing.
        </p>
        {% for archivist_dict in archivist_info_list %}
            <div>
            <h2>{{ archivist_dict["email"] }}</h2>
            {% if archivist_dict["daily_html_table"] %}
                <h4>Daily Stats</h4>
                {{ archivist_dict["daily_html_table"] | safe }}
            {% endif %}
            {% if archivist_dict["weekly_html_table"] %}
                <h4>Weekly Stats</h4>
                {{ archivist_dict["weekly_html_table"] | safe }}
            {% endif %}
            <hr width="75%" />
            </div>
        {% endfor %}
        <form method="POST" action="" enctype="multipart/form-data" id="timesheet-form-main">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Choose timesheet dates</legend>
                <div class="form-group">
                    {{ form.timesheet_begin.label(class="form-control-label") }}
                    {% if form.timesheet_begin.errors %}
                        {{ form.timesheet_begin(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.timesheet_begin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.timesheet_begin(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.timesheet_end.label(class="form-control-label") }}
                    {% if form.timesheet_end.errors %}
                        {{ form.timesheet_end(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.timesheet_end.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.timesheet_end(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", id="submit-bttn") }}
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var timesheet_form = document.getElementById('timesheet-form-main');
            if (timesheet_form) {
                timesheet_form.addEventListener('submit', function(event) {
                    var button = document.getElementById('submit-bttn');
                    if (button) {
                        console.log("Button found");
                        button.value = 'Retrieving Data...';  // Change button text
                        // Disable button to prevent double submission
                        setTimeout(() => button.disabled = true, 10);
                    } else {
                        console.log("Button not found");
                    }
                    // Delay form submission to allow button text change
                    event.preventDefault();
                    setTimeout(() => HTMLFormElement.prototype.submit.call(timesheet_form), 500);
                });
            } else {
                console.log("Form not found");
            }
        });
    </script>
{% endblock content %}